*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../../client/src/img/worldwideactivities.jpg'); 
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 90hv;
  height: 90vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}



body,
input{
  font-family: 'Advent Pro', sans-serif;
  font-size: 17px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

:root{
  --border-color:#023047 ;
 
}

