.cardContainer {
    width: 280px;
    height: 130px;
    border: 3px solid var(--border-color);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #00000090;

}
.cardContainer:hover,
.cardContainer:focus,
.card:active {
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

}
.img {
    display: flex;
    justify-content: center;
    width:5rem;
    height:5rem;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-40%);

    box-sizing: border-box;
    border: 1 px solid transparent;
    border-radius: 50%;
    overflow: hidden;
}

.cardContainer img {
  height: 100%;
}

.infocard {
  
    justify-content: left;
 
    color: white;

}
.name{
    width: 180px;
    margin: auto;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 20px;
    font-weight:700;
    padding: 8px 0;

}

.idandcontinent{
    height: 100%;
    text-align: left;
    font-size: 1.30rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    margin-left: 30px;
    margin-bottom: 15px;
}



