
.containertotal{
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    display: flex;

    align-items: center;
    flex-direction: column;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #00000040;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
} 

.containerform {
    margin: 25px 0 0 0;


}
.containerform >h1{
    margin-bottom: 24px;
    position: relative;
    left: 32px;
    font-size: 26px;
}
.form{
    width: 380px;
    height: auto;
    padding: 22px;
    text-align: left;
    margin: 0 auto;
    border: 3px solid var(--border-color);
    border-radius: 3rem;
    background-color: #00000090;
    
   
}


.fields{
   margin: 15px;

   }


.field{
    font-size: 17px;
    font-weight: 600;
    margin:14px 0;
    width: 300px;
   
   }

.field >input{
    margin: 15px;
    padding: 5px;
    border: solid 1px #ccc;
    width: 300px;
    border-radius: 4px;
}
.field >input:focus{
    border:3px solid var(--border-color);;
}

.field >p{
    color: white;
    font: 17px
    ;
}

.field > select{
    margin: 15px;
    padding: 7px;
    border: solid 1px #ccc;
    width: 311px;
    border-radius: 4px;

}

.field >select:focus{
    border:3px solid var(--border-color);;
}

.field > select > option{
    color: white;


    
}

.field > span{
    font-size: 16px;
    color: #ffb703 ;
    width: auto;
    margin-bottom: 10px;
    position: relative;
    left: 10px;
}

.displayCountries {
    display: flex;
    width: 300px;
    height: auto;
    gap: 10px;
    flex-wrap: wrap;
}

.listCountries{
    margin-bottom: 5px;

    color: white;
    font: 17px;
    display: block;

}

.country{
    display: flex;
    gap:8px;
    width: auto;

}

.bttonsec{ 
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;

}



.bttonprim{
    margin: 15px;
    padding: 7px;
    border: solid 1px #ccc;
    width: 311px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
}

.bttonprim {
    background-color: white;
    color: black;
    cursor: pointer;
  }
.bttonprim:hover {
  
    transition-duration: 0.3s;
    background-color: #00000090;
    color: white;
  }

.bttonprim[disabled],.bttonprim:hover[disabled]{
    opacity: 0.5;
    cursor: default;
    pointer-events: none;

}