.header{
    width: 100vw;
    height: 74px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #00000050;
}

    
.welcome {
    min-width: fit-content;
    width: auto;
    height: auto;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    margin: 26px 50px;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
   
    }

.welcome svg {
    position: relative;
    top: 5px;
    right: 4px;
}

.links {
    width: 100%;
    height: auto;
    max-width: 1300px;
    align-items: center;
    margin: 8px 100px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    display: flex;   
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
   
}

.links > a{
    margin:2px 45px;
  
}
